@use 'scss/variables/colors' as colors;
@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.table {
  text-align: center;
  @include containers.full-container-size;

  .tableCell {
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
  }

  .nameCell {
    text-align: left;
  }

  .hideInMobile {
    @media #{mediaQuerySizes.$tablet-mobile} {
      display: none;
    }
  }

  .hideInSmall {
    @media #{mediaQuerySizes.$extra-small} {
      display: none;
    }
  }
}
