#
# ENVIRONMENT VARIABLES.
#

# Node environment.
NODE_ENV=development

# App Name.
APP_NAME=

# App version.
APP_VERSION=
 
# Port it listens to. 
PORT=

# URL where the api works. Vg: /some-location/some-sublocation/ (do not forget slashes at both sides).
# It's needed for swagger documentation.
API_URL=/
 
# If logs should be inserted into persisted/logs.log or not ("1" for true).
# You should enable this if you run npm start or npm run pm2... But not with docker.
LOGS_IN_FILE=
 
# Contains the TZ UTC: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones  
TIMEZONE=America/Argentina/Buenos_Aires
 
#
# SECURITY CONFIG.
#

# If it will JWT or API KEY auth.
# If its value is 1, it will use JWT token with JWT_SECRET. Otherwise it will ask for the API KEY.
JWT_USE=

# Secret for the JWT authentication.
# Only if JWT_USE is 1
JWT_SECRET=

# JWT Algorithm that will be used.
# Only if JWT_USE is 1
JWT_ALGORITHM=

# API KEY
# Only if JWT_USE is different from 1
API_KEY=

#
# SSL CONFIG.
# 

# If the service must use SSL ("1" for true).
SSL_MUST_USE=

# Path to SSL cert.
SSL_CERT_PATH=

# Path to SSL key.
SSL_KEY_PATH=
