@use 'scss/variables/colors' as colors;
@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.container {
  @include containers.full-container-size;
}

.paginationContainer {
  display: flex;
  margin: 15px auto;
  text-align: center;
}

.pagination {
  margin: 0 auto;
}
